/* Things that break */

h1, h2, h3, h4, h5, label.bx--btn {
	word-break: break-word;
}

/* Headerbar customizations */
.bx--header__name {
	white-space: nowrap;
}

/* DataTable customizations */

div.file-table td {
	max-width: 20vw;
	padding-right: 2px;
}

div.file-table-cell {
	display: flex;
	white-space: nowrap;
}

div.file-table-cell *:not(span.file-icon) {
	text-overflow: ellipsis;
	overflow: clip;
	min-width: 0;
}

span.file-icon {
	margin-right: 5px;
}

.file-table td:not(.bx--table-column-checkbox) {
	cursor: pointer;
}

td a {
	display: block !important;
}

/* Raw table display */

table.raw {
	margin-top: 10px;
	color: var(--cds-text-02);
	overflow-x: auto;
	display: block;
}

table.raw td {
	padding: 5px;
	border-top: solid 1px var(--cds-active-01);
	text-overflow: ellipsis;
	overflow: clip;
	white-space: nowrap;
	max-width: 50vw;
}

/* Breadcrumbs customizations */

nav[aria-label="Breadcrumb"] {
	width: 100%;
}
ol.bx--breadcrumb {
	display: flex !important;
	flex-wrap: wrap;
}

.bx--breadcrumb-item {
	min-width: 0;
}

.bx--breadcrumb-item a {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
