html {
	overflow-y: scroll;
}

/* Things that break */

h1, h2, h3, h4, h5, label.bx--btn {
	word-break: break-word;
}

/* Headerbar customizations */

.bx--header__name {
	white-space: nowrap;
}

.bx--header .bx--inline-loading__text {
	color: #c6c6c6;
}

.bx--header .bx--loading__background {
	stroke: #393939;
}

/* SideNav customizations */

.bx--header__menu-trigger {
	flex-shrink: 0;
}

.bx--side-nav__overlay {
	/* Fix for https://github.com/IBM/carbon-components-svelte/issues/544#issuecomment-855351372 */
	z-index: 6000;
}

.bx--side-nav ~ main.bx--content {
	margin-left: 0 !important;
}

div.bx--side-nav__overlay-active {
	width: 100vw;
	height: 100vh;
	background-color: var(--cds-overlay-01, rgba(22, 22, 22, 0.5));
	opacity: 1;
	transition: none;
}

/* DataTable customizations */

div.file-table td {
	max-width: 30vw;
	padding-right: 2px;
}

div.file-table td:last-child {
	width: 0;
}

div.file-table td .bx--overflow-menu {
	width: 1rem;
}

.bx--data-table--md .bx--overflow-menu {
	height: 1.5rem;
}

div.file-table-cell {
	display: flex;
	white-space: nowrap;
}

div.file-table-cell *:not(span) {
	text-overflow: ellipsis;
	overflow: clip;
}

div.file-table-cell *:not(.file-icon) {
	min-width: 0;
}

div.file-table-cell a {
	display: block;
}

span.file-icon {
	margin-right: 5px;
}

.file-table td:not(.bx--table-column-checkbox) {
	cursor: pointer;
}

.bx--toolbar-action[disabled] svg.bx--overflow-menu__icon {
	fill: var(--cds-disabled-03, #8d8d8d);
}

.bx--batch-actions {
	overflow: hidden;
}

section.bx--table-toolbar {
	/* Hack to fix https://github.com/IBM/carbon-components-svelte/issues/668 */
	overflow: clip;
	/* Hack to fix https://github.com/IBM/carbon-components-svelte/issues/426 */
	z-index: 1;
}

/* Hide some rows on small screens */
@media(max-width: 610px) {
	div.file-table td:nth-child(2) {
		max-width: 50vw;
	}

	div.file-table td:nth-child(3), div.file-table th:nth-child(3) {
		display: none;
	}
}
@media(max-width: 380px) {
	div.file-table td:nth-child(4), div.file-table th:nth-child(4) {
		display: none;
	}
}

/* Disable slow and useless transition */
.bx--batch-actions, .bx--toolbar-content {
	transition: none !important;
}

/* Breadcrumbs customizations */

nav[aria-label="Breadcrumb"] {
	width: 100%;
}
ol.bx--breadcrumb {
	display: flex !important;
	flex-wrap: wrap;
}

.bx--breadcrumb-item {
	min-width: 0;
}

.bx--breadcrumb-item a {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

/* Grid customizations */

@media(max-width: 610px) {
	div.bx--grid {
		padding-right:0;
		padding-left:0
	}
	div.bx--row > div {
		padding-right: 0;
		padding-left: 0;
	}
	div.bx--row {
		margin-right: 0;
		margin-left: 0;
	}
}

/* Button customizations */

.bx--btn.bx--btn--icon-only svg.bx--btn__icon {
	/* Fix for icon only buttons in toolbar */
	margin: 0;
}

/* Notifications customizations */

div.bx--inline-notification {
	min-width: 10rem;
}
