* {
	box-sizing: border-box;
	font-family: sans-serif;
}

pre, code {
	font-family: monospace;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

html {
	padding: 0 5px;
}

.bordered {
	border: solid 1px grey;
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
}
